.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a79898;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1a1616;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 15px;
    text-align: left;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: #3a3535;
}