body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  position: relative; 
  overflow: hidden; 
  height: 100vh; 
  margin: 0; 
}

#bg-video {
  position: absolute; 
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%; 
  width: auto; 
  height: auto; 
  z-index: -1; 
  transform: translate(-50%, -50%); 
}
p{color: rgb(2, 186, 186);
  font-size: 28px;
font-weight: bold;
animation: colorChange 3s infinite; 
}

@keyframes colorChange {
    0% {
        color: rgb(246, 248, 249); 
    }
    50% {
        color: rgb(5, 189, 221); 
    }
    100% {
        color: rgb(246, 249, 249); 
    }
}
.content {
  position: relative; 
  z-index: 1;
  text-align: center; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
}

h1 {
  color: rgb(8, 2, 0);
}

.grid-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1rem; 
  margin-top: 20px;
}

.grid-container >div {
  width: 300px; 
  border: solid 2px black;
  padding: 3px;
  box-shadow: 5px 5px 5px rgba(5, 10, 13, 0.5);
  border-radius: 5px;
  transition: all .25s ease-in-out; 
  position: relative; 
}

.grid-container > div:hover {
  border-color: coral; 
  transform: scale(1.1);
  z-index: 10;
}

.grid-container img {
  width: 100%; 
  filter: grayscale(100%); 
  border-radius: 5px;
  transition: all .25s ease-in-out; 
}

.grid-container > div:hover img {
  filter: grayscale(0); 
}

.grid-container p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.span {
  color: rgb(28, 146, 219);
}


@keyframes shake {
  0% { transform: translate(1px, 0); }
  25% { transform: translate(-1px, 0); }
  50% { transform: translate(1px, 0); }
  75% { transform: translate(-1px, 0); }
  100% { transform: translate(0, 0); }
}
